.card{
    text-align: center;
    position: relative;
    bottom:10%;
    width:60%;
    margin-top:20px;
   
}
p {
    text-align: center;
    color:#8698a8de;
    font-style: italic;
    font-size: 0.8em;   
}
