<div class="container">
<table class="table table-striped">
  <thead>
    <th>
        <input type="checkbox">
    </th>
    <th>Titre</th>
    <th><i class="fa fa-clock-o"></i>  Date Début</th>
    <th><i class="fa fa-clock-o"></i>  Date Fin</th>
    <th>&nbsp;</th>
  </thead>

  <tbody>
    <tr *ngFor="let todo of todos">
      <td>
        <input type="checkbox">
      </td>
      <td>
        {{ todo.title}}
      </td>
      <td>
        &nbsp;
      </td>
      <td>
          &nbsp;
      </td>
      <td>
        <button type="button" class="btn btn-danger">
          <i class="fa fa-minus-circle"></i>
        </button>
      </td>
    </tr>
  </tbody>

</table>
</div>
