<div class="container" [hidden]="todos.length == 0">
  <div>
    <button type="button" (click)="deleteAll()" [disabled]="notChecked()" class ="btn btn-danger btnDelAll">
        <i class="fa fa-trash fa-lg"></i>
    </button>
  </div>
  <table class="table table-striped container-fluid">
    <thead class="row">
      <th class="col-1">
          <input type="checkbox" (click)="toggleAll()" [checked]=checkedStatus>
      </th>
      <th class="col-5">To do</th>
      <th class="col-2"><i class="fa fa-clock-o"></i>  Début</th>
      <th class="col-2"><i class="fa fa-clock-o"></i>  Fin</th>
      <th class="col-2">&nbsp;</th>
    </thead>

    <tbody>
      <tr *ngFor="let todo of todos; let i = index;" class ="row">
        <td class="col-1">
          <input type="checkbox" (click)="toggle(i)" [checked]="todo.isChecked">
        </td>
        <td class="col-5" [ngClass]="{strikeOut: isChecked(todo)}">
          {{ todo.title}}
        </td>
        <td class="col-2" [ngClass]="{strikeOut: isChecked(todo)}">
          {{ todo.start | date:'dd-MM-yyyy'}}
        </td>
        <td class="col-2" [ngClass]="{strikeOut: isChecked(todo)}">
          {{ todo.end | date:'dd-MM-yyyy'}}
        </td>
        <td class="col-2 row">
          <button type="button" class="btn btn-danger col-5 btnTodoDel" (click)="delete(i)">
            <i class="fa fa-minus-circle"></i>
          </button>
          <button type="button" class="btn btn-primary col-5 btnTodoEdit" (click)="edit(todo)">
              <i class="fa fa-pencil"></i>
          </button>
        </td>
      </tr>
    </tbody>

  </table>
</div>
