thead{
    background-color: rgb(5, 94, 211);
    font-family: 'Cambria', 'Cochin', 'Georgia', Times, 'Times New Roman', serif;
    color: #ffffff;
    font-size: 1.2em;
}

table{
    margin-left: 16px;
}

.strikeOut{
    text-decoration: line-through;
}

.btnDelAll{
    margin-bottom: 5px;
}
.btnDel{
    margin-right: 1px;
}
.fa-minus-circle{
    margin-left: -4px;
}
.fa-pencil{
    margin-left: -4px;
}