<div class="container-fluid containerTable" [hidden]="todos.length == 0">
  <div>
    <mat-toolbar color="accent">
        <span>Outils</span>
        <span class="move-right"></span>

        <span>
            <mat-form-field>
                <mat-select placeholder="Afficher" (selectionChange)="filter($event)" [(ngModel)]="selectedItems" [formControl]="columns" multiple>
                  <mat-option *ngFor="let column of displayedFilter" [value]="column">
                    {{column.label}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              
        </span>
        <span>
            <button type="button" (click)="deleteAll()" [disabled]="notChecked()" class ="btn btn-danger btnDelAll">
                <i class="fa fa-trash fa-lg"></i>
            </button>
        </span>
    </mat-toolbar>
    
  </div>
  <!--<table class="table table-striped">
    <thead class="row">
      <th class="col-1">
          <input type="checkbox" (click)="toggleAll()" [checked]=checkedStatus>
      </th>
      <th class="col-5">To do</th>
      <th class="col-2">Début</th>
      <th class="col-2">Fin</th>
      <th class="col-2">&nbsp;</th>
    </thead>

    <tbody>
      <tr *ngFor="let todo of todos; let i = index;" class ="row">
        <td class="col-1">
          <input type="checkbox" (click)="toggle(i)" [checked]="todo.isChecked">
        </td>
        <td class="col-5" [ngClass]="{strikeOut: isChecked(todo)}">
          {{ todo.title}}
        </td>
        <td class="col-2" [ngClass]="{strikeOut: isChecked(todo)}">
          {{ todo.start | date:'dd-MM-yyyy'}}
        </td>
        <td class="col-2" [ngClass]="{strikeOut: isChecked(todo)}">
          {{ todo.end | date:'dd-MM-yyyy'}}
        </td>
        <td class="col-2 row">
          <button type="button" class="btn btn-danger col-5 btnTodoDel" (click)="delete(i)">
            <i class="fa fa-minus-circle"></i>
          </button>
          <button type="button" class="btn btn-primary col-5 btnTodoEdit" (click)="edit(todo)">
              <i class="fa fa-pencil"></i>
          </button>
        </td>
      </tr>
    </tbody>

  </table>-->
  <div class="container-fluid">
    <mat-table #todos [dataSource]="dataSource" matSort>

      <!-- title of todo -->
      <ng-container matColumnDef="title" >
        <mat-header-cell *matHeaderCellDef>A faire</mat-header-cell>
        <mat-cell *matCellDef="let todo" class="titleCol">{{todo.title}}</mat-cell>
      </ng-container>

      <!-- start date -->
      <ng-container matColumnDef="start">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{ getLabel(0) }} </mat-header-cell>
        <mat-cell *matCellDef="let todo"> {{ todo.start | date:'dd-MM-yyyy'}} </mat-cell>
      </ng-container>

      <!-- start date -->
      <ng-container matColumnDef="end">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{ getLabel(1) }} </mat-header-cell>
        <mat-cell *matCellDef="let todo"> {{ todo.end | date:'dd-MM-yyyy'}} </mat-cell>
      </ng-container>

      <!-- Buttons -->

      <!-- edit btn-->
      <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let todo"> 
          <button mat-mini-fab color="accent" (click)="edit(todo)" >
            <mat-icon aria-label="Editer le todo">create</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <!-- del btn-->
      <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let todo"> 
          <button mat-mini-fab color="warn" (click)="delete(todo)" >
            <mat-icon aria-label="Supprimer le todo">delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </div>


</div>
