thead{
    background-color:#007bff;
    font-family: 'Cambria', 'Cochin', 'Georgia', Times, 'Times New Roman', serif;
    color: #ffffff;
    font-size: 1.2em;
}
.containerTable{
    width: 90%;
    
}
table{
    margin-left: 16px;
    table-layout: fixed;
    
    
    tr{
        td{
            word-wrap: break-word;   
            overflow-wrap: break-word;
        }
    }
}

.strikeOut{
    text-decoration: line-through;
}

.btnDelAll{
    margin-bottom: 5px;
}
.btnTodoDel{
    left: 25%;
    top:5px;
    position: absolute;
    width:50px;
    margin-right:2px;
    
}
.btnTodoEdit{
    top:5px;
    left: 70%;
    position: absolute;
    width:50px;
    
}
