thead{
    background-color:#007bff;
    font-family: 'Cambria', 'Cochin', 'Georgia', Times, 'Times New Roman', serif;
    color: #ffffff;
    font-size: 1.2em;
}
.containerTable{
    width: 90%;
    
}
table{
    margin-left: 16px;
    table-layout: fixed;
    
    
    tr{
        td{
            word-wrap: break-word;   
            overflow-wrap: break-word;
        }
    }
}

.strikeOut{
    text-decoration: line-through;
}

.btnDelAll{
    margin-left: 30px;
    margin-bottom: 5px;

}
.toolTitle{
    margin-bottom: 17px;
}
.btnTodoDel{
    left: 25%;
    top:5px;
    position: absolute;
    width:50px;
    margin-right:2px;
    
}
.btnTodoEdit{
    top:5px;
    left: 70%;
    position: absolute;
    width:50px;
    
}
.move-right {
   margin-right: 60%;
}
.mat-header-cell, .mat-cell {
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    overflow: visible;
    margin:auto;
  
}
.mat-column-title{
    flex: 1 0 50%;
}
.mat-column-start, .mat-column-end{
    flex: 1 0 15%;
}
.mat-column-del, .mat-column-edit{
    flex: 1 0 10%;
}
.toolDel{
    position: relative;
    top:5px;

}
.mat-form-field{
    top:0px;
    margin-left: 30px;
}

.mat-header-cell[_ngcontent-c3], .mat-cell[_ngcontent-c3] {
    margin-left:5px;
}


